This is the paper slider:

<div class="p-20">
    From: {{this.state.from}}
    To: {{this.state.to}}
    Min: {{this.min}}
    Max: {{this.max}}
    <PaperDualSlider
        @from={{this.state.from}}
        @to={{this.state.to}}
        @min={{this.min}}
        @max={{this.max}}
        @onChange={{fn (mut this.state)}}
    />
 
</div>

You can use it like this:
<pre>
{{this.template}}
</pre>

It's fully DDAU, and supports all options that paper-slider does, swapping out value with from and to.